.home-header {
  padding: 20px 0 ;
  border-bottom: 1px solid #DDD;
}

.home-header .container {
  display: flex;
  justify-content: space-between;
}

.home-header .home-inputs-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}